.home {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
  background: #b8f0a9;
  /* font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.home-card {
  width: 100vw;
  height: 100vh;
  background: #b8f0a9;
  border: none;
  border-radius: 0;
  padding: 48px;
  box-shadow: none;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
}

.home-header {
  text-align: center;
}

.home-header h1 {
  margin: 0;
  font-size: 40px;
  color: #ffcf4d;
}

.home-header p {
  margin: 8px 0 0;
  font-size: 26px;
  color: #ffcf4d;
}


.cloud1 {
  top: 15%;
  left: 7%;
}

.cloud2 {
  top: 30%;
  right: 10%;
  transform: scaleX(-1) scale(1.2);
  /* transform: scale(1.2); */
}

.cloud3 {
  bottom: 10%;
  left: 15%;
  transform: scaleX(-1) scale(0.75);
  /* transform: scale(1.2); */
}


.home-grid {
  width: min(900px, 92vw);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-content: center;
  justify-items: center;
}

.home-btn {
  appearance: none;
  border: 1px solid #d1d5db;
  background: #f9fafb;
  border-radius: 14px;
  padding: 18px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  cursor: pointer;
  width: 100%;
  transition: transform 0.06s ease, background 0.15s ease, border-color 0.15s ease;
}

.home-btn:hover {
  background: #f3f4f6;
  border-color: #cbd5e1;
}

.home-btn:active {
  transform: translateY(1px);
}


.btn.btn-primary.home-btn-primary {
  background: #9574ff;
  color: #8667ee;
  width: 45%;
}

.btn.btn-primary.home-btn-primary:hover {
  background: #4338ca;
  color: #3b1f9c;
  transform: translateY(-2px);
}


.btn.btn-secondary.stats-btn {
  background: #6ee0ac;
  color: #62cf9e;
  width: 55%;
}

.btn.btn-secondary.stats-btn:hover {
  background: #4fb185;
  color: #4fb185;
  transform: translateY(-2px);
}

.btn.btn-secondary.config-btn {
  background: #ffaf2d;
  color: #eea32a;
  width: 70%;
}

.btn.btn-secondary.config-btn:hover {
  background: #eba028;
  color: #d17c1b;
  transform: translateY(-2px);
}


