.userConfig {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.userConfig-card {
  text-align: center;
}

.userConfig-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

/*
.userConfig-btn {
  width: 150px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
*/

.userConfig-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.btn.btn-secondary.btn-userConfig-audio {
  background-color: #ffcf4d;
  color: #af7c0c;
}

.btn.btn-secondary.btn-userConfig-grid {
  background-color: #e39090;
  color: #643333;
}

.cloud1 {
  top: 20%;
  left: 87%;
  transform: scaleX(-1) scale(1.15);
}

.cloud2 {
  top: 85%;
  left: 5%;
  transform: scaleX(1) scale(0.90);
}

.btn.btn-secondary.back-btn {
  background: #9fe6a6;
  font-size: 20px;
  color: #474747;
}