.userConfig {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.userConfig-card {
  text-align: center;
}

.userConfig-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.userConfig-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.btn.btn-secondary.btn-userConfig-audio {
  background-color: #ffd358;
  color: #a0710b;
  width: 35%;
}

.btn.btn-secondary.btn-userConfig-audio:hover {
  background-color: #e0b43b;
  color: #64480b;
  width: 35%;
  transform: translateY(-2px);
}

.btn.btn-secondary.btn-userConfig-grid {
  background-color: #e39090;
  color: #643333;
  width: 35%;
}

.btn.btn-secondary.btn-userConfig-grid:hover {
  background-color: #b46666;
  color: #3b1919;
  width: 35%;
  transform: translateY(-2px);
}

.cloud1 {
  top: 20%;
  left: 87%;
  transform: scaleX(-1) scale(1.15);
}

.cloud2 {
  top: 85%;
  left: 5%;
  transform: scaleX(1) scale(0.90);
}

.btn.btn-secondary.back-btn {
  background: #9fe6a6;
  font-size: 20px;
  color: #474747;
}

.btn.btn-secondary.back-btn:hover {
  background: #83b69f;
  color: #2e2e2e;
  transform: translateY(-2px);
}